<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      text-align: center;

    }
  </style>


<body>
  <h1>Company Salary Analysis</h1>
  <div>{{data}}</div>
  <h1>soomthing</h1>

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
@app

<p><a href="another">Salary and Satisfaction Analysis</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
