<table>
  <!-- <p>The Data for {{ company.companyname }}</p> -->
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Location</th>
      <th>Salary</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row.employeeid }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.gender }}</td>
      <td>{{ row.currentposition }}</td>
      <!-- <td>{{ row.departmentname }}</td> -->
      <td>{{ row.city }}, {{ row.state }}</td>
      <td>{{ row.salary }}</td>
      <td>{{ row.AnnualRevenue }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form id="filter-form" method="post" action="/filter_data">
  <label for="filter-option">Filter by:</label>
  <select name="filter-option" id="filter-option">
    <!-- <option value="department">Department</option> -->
    <option value="positions">Positions</option>
    <option value="gender">Gender</option>
    <option value="employee data">Employee Data</option>
    <option value="Company AnnualRevenue">Financial Data</option>
  </select>
  <input type="hidden" name="company_id" value="{{ company.companyid }}" />
  <input type="submit" value="Apply" />
</form>

<form id="compare-form" method="post" action="/compare_data">
  <label for="compare-option">Compare by:</label>
  <select name="compare-option" id="compare-option">
    <option value="salary">Salary</option>
    <option value="age">Age</option>
    <!-- Add more compare options here -->
  </select>
  <input type="hidden" name="company_id" value="{{ company.companyid }}" />
  <input type="submit" value="Compare" />
</form>
