
{% block body %}
<h2>Filtered Data</h2>
<p>Filter Option 1: {{ filter_option_1 }}</p >
<p>Filter Option 2: {{ filter_option_2 }}</p >

<table>
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Gender</th>
        <th>City</th>
        <th>State</th>
        <th>Department Name</th>
        <th>Salary</th>
    </tr>
    {% for row in filtered_data %}
    <tr>
        <td>{{ row.employeeid }}</td>
        <td>{{ row.employeename }}</td>
        <td>{{ row.gender }}</td>
        <td>{{ row.city }}</td>
        <td>{{ row.state }}</td>
        <td>{{ row.departmentname }}</td>
        <td>{{ row.salary }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}