<h<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      text-align: center;

    }
  </style>


<body>
  <h1>Company Salary Analysis</h1>
  <h2>Company List</h2>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <table>
    <thead>
      <tr>
        <th>Company ID</th>
        <th>Years</th>
        <th>Annual Revenue</th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in financialdata.iterrows() %}
      <tr>
        <td>{{ row['CompanyID'] }}</td>
        <td>{{ row['Years'] }}</td>
        <td>{{ row['AnnualRevenue'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
<p><a href="another">Salary and Satisfaction Analysis</a></p>


</body>


</html>
