<h<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      text-align: center;

    }
  </style>


<body>
  <h1>Company Salary Analysis</h1>
  <h2>Company List</h2>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <!DOCTYPE html>
  <html>
    <head>
      <title>Financial Data</title>
    </head>
    <body>
      <h1>Financial Data</h1>
      <table>
        <thead>
          <tr>
            <th>Company ID</th>
            <th>Years</th>
            <th>Annual Revenue</th>
            <th>Annual Income</th>
            <th>Net Income Margin</th>
          </tr>
        </thead>
        <tbody>
          {% for row in financialdata.iterrows() %}
          <tr>
            {% for col in financialdata.columns %}
            <td>{{ row[1][col] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
  </html>
  
  
<p><a href="another">Salary and Satisfaction Analysis</a></p>


</body>


</html>
