<h<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      text-align: center;

    }
  </style>


<body>
  <h1>Company Salary Analysis</h1>
  <h2>Company List</h2>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <body>
    <table>
      {% for row in financialdata.iterrows() %}
      <tr>
      {% for col in financialdata.columns %}
          <td>{{ row[col] }}</td>
      {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
  
  
<p><a href="another">Salary and Satisfaction Analysis</a></p>


</body>


</html>
