<!DOCTYPE html>
<html>
  <head>
    <title>Reviews</title>
  </head>
  <body>
    <h1>Reviews</h1>
    <table>
      <tr>
        <th>Review ID</th>
        <th>Company Name</th>
        <th>Rating</th>
        <th>Content</th>
      </tr>
      {% for row in results %}
      <tr>
        <td>{{ row.reviewid }}</td>
        <td>{{ row.companyname }}</td>
        <td>{{ row.rating }}</td>
        <td>{{ row.content }}</td>
      </tr>
      {% endfor %}
    </table>
    <form method="POST" action="#/">
      <p>Give Comment for the Company: <input type="text" name="add_review"></p>
      <p>Rate the company (0-5): <input type="number" name="rating" min="0" max="5"></p>
      <input type="submit" value="Add">
    </form>
  </body>
</html>
